# Auto detect text files and perform LF normalization
* text=auto

# Linguist exclusions
**/StreamingAssets/Python/** linguist-vendored
**/StreamingAssets/Python/Lib/** linguist-vendored
**/TextMesh\ Pro/** linguist-vendored
